{{!-- Newsroom Story Fulltext --}}

{{!-- Check for Image --}}
{{#ifSet element="Media Library Image"}}
  <div class="hero--basic hero--news global-padding--15x-ignore hero--news__photo bg--dark">
{{else}}
  <div class="hero--basic hero--news global-padding--15x bg--dark">
{{/ifSet}}

  <div class="grid-container">
    <div class="grid-x grid-margin-x">
      <div class="cell auto">
        <div class="hero--basic__text text-margin-reset">
          <h1>
            {{{publish element="Title"}}}
          </h1>
          <div class="eyebrow">
            {{#ifSet element="News Types" ~}}
                {{#each (selected element="News Types") ~}}
                  <a href="{{nav id="991" name="Link to News & Stories"}}?newsTypes={{encodeUrl value}}">{{value}}</a>
                {{~/each}}
            {{~/ifSet}}
          </div>
          <div class="news--detail__details global-spacing--0x text-margin-reset">
            {{#ifSet element="Author"}}
              <p>
                <strong>Written by {{{publish element="Author"}}}</strong>
              </p>
            {{/ifSet}}
            <p>
              {{dateFormat (dateElement element="Publish Date") "EEEE, MMMM d, yyyy"}}
            </p>
          </div>
          {{nav id="1027" name="Breadcrumbs Fulltext"}}
        </div>
      </div>
    </div>

    {{#ifSet element="Media Library Image"}}
    <div class="news--detail__hero-photo">
      <figure class="aspect-ratio-frame" style="--aspect-ratio: 74/116">
        {{embed layout="v10/text/news-image"}}
        {{#ifSet element="Image Caption"}}
          <figcaption>
            <blockquote>
              {{{publish element="Image Caption"}}}
            </blockquote>
          </figcaption>
        {{/ifSet}}
      </figure>
    </div>
    {{/ifSet}}
  </div>
</div>

{{!-- News Detail Body --}}
<div class="news--detail__body grid-container global-padding--10x">
  <div class="grid-x grid-margin-x">
    <div class="cell medium-8">
      {{#ifSet element="Article Subhead"}}
      <div class="news--detail__summary text-margin-reset">
        <p class="intro-text">
          {{{publish element="Article Subhead"}}}
        </p>
      </div>
      {{/ifSet}}
      
      <div class="global-spacing--5x">
        <div class="wysiwyg">
          {{{publish element="Story article"}}}
        </div>
      </div>
      
      <div class="global-spacing--3x">
        {{#ifSet element="News Topics" ~}}
        <div class="tags tags__links">
          <h2 class="tags__heading show-for-sr">Tags:</h2>
          <ul>
            {{#each (selected element="News Topics") ~}}
              <li>
                <a href="{{nav id="991" name="Link to News & Stories"}}?newsTopics={{encodeUrl value}}">{{value}}</a> 
              </li>
            {{~/each}}
          </ul>
        </div>
        {{~/ifSet}}
      </div>
    </div>
    
    <div class="cell medium-4">
      {{#ifSet element="Callout Title" ~}}
        <article class="callout text-margin-reset oho-animate oho-animate-single fade-in oho-animate--in">
          <h2 class="h6">
            {{{publish element="Callout Title"}}}
          </h2>

          {{#ifSet element="Callout Description" ~}}
            <div class="global-spacing--2x">
              <p>
                {{{publish element="Callout Description"}}}
              </p>
            </div>
          {{~/ifSet}}
          {{#ifSet element="Callout CTA Title" ~}}
            <div class="global-spacing--3x">
              <a href="{{#link element="Callout CTA Internal Link" }}{{linkUrl}}{{/link}}{{publish element="Callout CTA External Link"}}" class="btn">
                {{publish element="Callout CTA Title"}}
              </a>
            </div>
          {{~/ifSet}}
        </article>
      {{~/ifSet}}
    </div>
  </div>
</div>

{{#if (nav id="988" name="Related news in news fulltext")~}}
<section class="related-news-stories-section global-padding--15x bg--dark bg--blue bg--gradient">
  <div class="grid-container oho-animate-sequence oho-animate--in">
    <div class="grid-x grid-margin-x">
      <div class="cell large-9">
        <div class="section-heading--basic text-margin-reset">
          <h2 class="oho-animate fade-in oho-animate--in">Similar News &amp; Stories</h2>
          <div class="section-heading__link global-spacing--2x oho-animate fade-in oho-animate--in">
            <a href="{{nav id="991" name="Link to News & Stories"}}">
              More Similar News &amp; Stories
            </a>
          </div>
        </div>
      </div>
    </div>

    <ul class="grid-x grid-margin-x global-spacing--6x">
      {{nav id="988" name="Related news in news fulltext"}}
    </ul>
  </div>
</section>
{{/if}}

{{#ifSet element="Faculty Tags"}}
<section class="contact-listing-section global-spacing--10x">
  <div class="grid-container oho-animate-sequence oho-animate--in">
    <div class="grid-x grid-margin-x">
      <div class="cell large-9">
        <div class="section-heading--basic text-margin-reset">
          <h2 class="oho-animate fade-in oho-animate--in">Contact Listing</h2>

          <div class="section-heading__link global-spacing--2x oho-animate fade-in oho-animate--in">
            <a href="{{nav id="995" name="Faculty and Staff Bio Link to Home"}}">
              Faculty and Staff Directory
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  {{nav id="1016" name="Contact Listing Inside News Fulltext"}}
</section>
{{/ifSet}}